@{
    ViewData["Title"] = "Strona główna";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link href="~/css/glowna.css" rel="stylesheet" />
</head>
<body>
    <div id=container>
        Strona
        <div id=flip>
            <div><div>Efektywna</div></div>
            <div><div>Wielozadaniowa</div></div>
            <div><div>Funkcjonalna</div></div>
        </div>
        Enjoy!
    </div>
    <p>Strona testowa</p>
</body>
</html>


