@{
    ViewData["Title"] = "Informacje";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/css/informacjec.css" />
</head>
<body>
    <header class="header">
        <h1 class="glitched">*FAQ*</h1>
    </header>
    <p class="opis">1.Strona stworzona na MVC Core z Enitity Framework + HTML + CSS.</p>
    <p class="opis">2.Dane "Maszyn" oraz rejestracja jest podłączone pod baze dancyh MySQL(w appsettings.json).</p>
    <p class="opis">3.Yerba>Kawa</p>
    <p class="opis">4.*Tu się coś dopiszę*</p>
    <div class="card">
        <div class="card-image"></div>
        <div class="card-text">
            <span class="date">25.09.2020</span>
            <h2>Praktykanci</h2>
            <p>Losowy Projekt HTML&CSS</p>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="value">2137</div>
                <div class="type">Błędy</div>
            </div>
            <div class="stat border">
                <div class="value">40H</div>
                <div class="type">Czas</div>
            </div>
            <div class="stat">
                <div class="value">2</div>
                <div class="type">Ilość debili</div>
            </div>
        </div>
    </div>
</body>
</html>
